* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(167, 223, 233);
    height: 100dvh;
}

.wrapper {
    padding-top: 50px;
    max-width: 65%;
    margin: 0 auto;
    overflow: hidden;
}
.slider {
    max-width: 500%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.slider__images {
    display: flex;
    width: 500%;
    transition: all 2s ease;
}
.slider__images img{
    width: 20%;
}
.slider__text {
}
.slider__buttons {
    display: flex;
    max-width: 20%;
    justify-content: space-between;
    /* background-color: green; */
}
.slider__buttons #btn-1{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

#btn-1:checked ~ .slider__images{
    margin-left: 0;
}
#btn-2:checked ~ .slider__images{
    margin-left: -100%;
}
#btn-3:checked ~ .slider__images{
    margin-left: -200%;
}
#btn-4:checked ~ .slider__images{
    margin-left: -300%;
}
#btn-5:checked ~ .slider__images{
    margin-left: -400%;
}